/*background et couleurs des textes sur l'ensemble du site */

body{
    background-color: #EDECEC;
    overflow-x: hidden;
}

/* annuler la mise en forme des liens */

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-family: var(--mulish);
}

/* Police d'écriture */

* p {
    font-family: 'mulish';
    font-size: 25px;

  }
  
  * h1 {
    font-family: var(--volkov-regular);
    font-size: 5Opx;
  }
  
  *h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;

  }
  
  * h3 {
    font-family: 'Montserrat', sans-serif;;
    font-size: 30px;
}

* label{
  font-family: 'mulish';
  font-size: 20px;
}

.compte-a-rebour{
    font-weight: bold;
    font-size: 70px;
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 50px;

}

.dessin {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  cursor: pointer;
  transition: transform 0.5s;
}

.dessin:hover{
  transform: scale(1.3);
  }

.dessin1{
  margin-bottom: -400px;
  cursor: pointer;
  transition: transform 0.2s;
}

.dessin1:hover{
  transform: scale(1.03);
  }

.bubbleright{
  float: right;
  width: 450px;  

}


.bubbleleft{
  float: left;
  width: 450px;
}


.text__index{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.text__index1{
  font-size: 30px;
margin-bottom: 450px;
margin-top: -400px;
margin-left: 100px;
}


.bubble1{
  float: right;
  margin-right: 420px;
  margin-top: -100px;
}


.bubble2{
  float: right;
  margin-right: 200px;
  margin-top: -300px;
}



