/*background et couleurs des textes sur l'ensemble du site */

body{
    background-color: #EDECEC
}

/* annuler la mise en forme des liens */

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
    font-family: var(--mulish);
}

.compte-a-rebour{
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ffb3ba), color-stop(0.15, #ffdfba), color-stop(0.3, #ffffba), color-stop(0.45, #baffc9), color-stop(0.6, #bae1ff));
    background-image: gradient( linear, left top, right top, color-stop(0, #ffb3ba), color-stop(0.15, #ffdfba), color-stop(0.3, #ffffba), color-stop(0.45, #baffc9), color-stop(0.6, #bae1ff));
    color:transparent;
   -webkit-background-clip: text;
    background-clip: text;
    z-index: 2;}