/*background et couleurs des textes sur l'ensemble du site */

body{
    background-color: #EDECEC;
    overflow-x: hidden;
}

/* annuler la mise en forme des liens */

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-family: var(--mulish);
}

/* Police d'écriture */

* p {
    font-family: 'mulish';
    font-size: 1.3rem;

  }
  
  * h1 {
    font-family: var(--volkov-regular);
    font-size: 2.8rem;
  }
  
  *h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;

  }
  
  * h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

* h4{
  font-family: 'Mulish';
  font-size: 2.1rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

* label{
  font-family: 'mulish';
  font-size: 1.25rem;
}

.compte-a-rebour {
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 7rem;
  font-family: 'Montserrat';
  margin-bottom: -8rem;
}

.dessin__reve {
  display: flex;
  justify-content: center;
  margin-top: 12.5rem;
  cursor: pointer;
  transition: transform 0.5s;
  margin-left: -30rem;
}

.dessin:hover{
  transform: scale(1.3);
  }

.dessin1{
  margin-bottom: -25rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.dessin__cheval {
  display: flex;
  justify-content: center;
  margin-top: 36.5rem;
  cursor: pointer;
  transition: transform 0.5s;
  margin-left: 35rem;
  margin-bottom: 43rem;
}

.dessin1:hover{
  transform: scale(1.03);
  }

.text__index {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: -20%;
  margin-left: 64%;
  position: absolute;
}

.text__index1 {
  font-size: 1.5rem;
  margin-bottom: 8.8rem;
  margin-top: -25rem;
  margin-left: 6rem;
}

.text__index2 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-left: -53rem;
  margin-top: -63rem;
  margin-bottom: 37rem;
}


.soulignage__1 {
  position: absolute;
  margin-left: 360.625em;
  z-index: -1;
  margin-top: -2.5rem;
}

.soulignage__2 {
  position: absolute;
  margin-left: 32.8rem;
  z-index: -1;
  width: 28rem;
  margin-top: -2.6rem;
  height: 0.75rem;
}

.soulignage__3 {
  position: absolute;
  margin-left: 13.7rem;
  z-index: -1;
  width: 65.9rem;
  margin-top: -2.6rem;
  height: 0.75rem;
}

.image__acceuil__presentation{
  float: left;
  margin-top: -12.5rem;
  margin-left: -6.25rem;
}

.main__mentionslegales{
  margin-left: 3.1rem;
}

.ecriture-index{
  background-color: #FFA461;
  margin-top: 3.1rem;
}


.deco-1 {
  position: absolute;
  margin-left: 46.5rem;
  margin-right: 11.1rem;
  z-index: 3;
  margin-top: -27.5rem;
}

.deco-1::before {
  content: "";
  display: block;
  width: 45rem;
  height: 24rem;
  background: #FFA461;
  position: absolute;
  z-index: -3;
  margin-top: -6.5rem;
  left: -5.5rem;
  border-radius: 3rem;
  font-family: 'Mulish';
}

.bouton__accueil {
  margin-top: 0.625rem;
  background-color: lightsteelblue;
  color: black;
  font-size: 2.18rem;
  border: 0.125rem solid black;
  padding: 0.625rem 2.5rem;
  border-radius: 1.8rem;
  margin-left: 38.18rem;
  margin-top: -11.37rem;
  position: absolute;
  width: 13.12rem;
  height: 3.063rem;
  font-family: 'mulish';
  display: flex;
  justify-content: center;
}

.tuto {
  margin-left: 13vw;
  margin-top: -16vh;
  margin-bottom: 35vh;
}