.footer{
    background-color: #404040;
    color: white;
    margin: 0;
    padding: 0;
}

.list-unstyled1 {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
}

.list-unstyled1 a {
    color: white;
    text-decoration: none;
    

}
.footer__categories{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.list-unstyled2 {
    display: flex;
    align-items: center;
    gap: 50px;
    display: flex;
    justify-content: center;
}

/* Réseaux sociaux */ 

.footer__ligne {
    border: 1px solid white;
    width: 500px;
    margin-left: 500px;
    

}

.copyright{
    display: flex;
    justify-content: center;
}

.mmi{
    display: flex;
    justify-content: center;
}

.logommi{
    width: 40px;
}