.footer{
    background-color: #404040;
    color: white;
    margin: 0;
    padding: 0;
}

.footer__informations{
    color: white;
}


.footer__categories{
    display: flex;
    align-items: center;
    gap: 50px;
    display: flex;
    justify-content: center;
    ;
}

.list-unstyled2 {
    display: flex;
    align-items: center;
    gap: 50px;
    display: flex;
    justify-content: center;
}

/* Réseaux sociaux */ 

.footer__ligne {
    border: 1px solid white;
    width: 500px;
    margin-left: 500px;
    

}

.copyright{
    display: flex;
    justify-content: center;
}

.mmi{
    display: flex;
    justify-content: center;
}

.logommi{
    width: 40px;
}