

.menu {
  display: flex;
  align-items: center;
  margin-right: 157px;
  margin-top: 32px;
}
  
  .menu__link {
    color: var(--gray-black);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  .menu__title {
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  

/* Header page d'accueil */

.header{
  background-color: #EDECEC;
  z-index: -1;
  margin-top: -20px;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 50px;
   
}

.header{
  background-color: #EDECEC;
  z-index: 1;
  height: 65px;
}

.menu {
display: flex;
align-items: center;
}

.menu img{
  width: 150px;
  z-index: 3;
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
}


.menu__link {
color: var(--gray-black);
text-decoration: none;
font-family: 'Roboto', sans-serif;
margin-left: 200px;

}

/* Header pages secondaires */

.Button__inscription {
  background-color: #FEB84F;
  border-radius: 101px;
  width: 224px;
  height: 80px;
  font-family: 'Arial', 'Helvetica, sans-serif';
  font-size: 35px;
  margin-right: -122px;
  margin-top: 10px;
  border: 2px solid black;
}

.Button__inscription a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

  