
.title__center__h3 {
    text-align: center;
    }
    
    .soulignage__2 {
      position: absolute;
      margin-left: 32.8rem;
      z-index: -1;
      width: 28rem;
      margin-top: -2.6rem;
      height: 0.75rem;
    }
    
    .soulignage__3 {
      position: absolute;
      margin-left: 13.7rem;
      z-index: -1;
      width: 65.9rem;
      margin-top: -2.6rem;
      height: 0.75rem;
    }
    
    .avatars {
      display: flex;
      margin-left: 27.18rem;
      width: 16.68rem;
      margin-top: 4.81rem;
    }
    
      .avatar__marion {
          display: flex;
      }
    
      .avatar__morgane {
        display: flex;
        margin-left: 4.31rem;
    }
    
    .name__avatars {
      margin-top: 0.813rem;
      display: flex;
      margin-left: 30.37rem;
      margin-bottom: 5rem;
      margin-top: 0.5rem;
    }
    
    .name__morgane {
      margin-left: 11.37rem;
    }
    
    .description__apropos {
      text-align: center;
      margin-left: 17.75rem;
      margin-right: 17.75rem;
    }
    
    .fond__orange {
      margin-top: 1.31rem;
      width: 13.93rem;
      display: flex;
      margin-left: 28.5rem;
      z-index: -1;
      position: absolute;
    }
    
    .fond__orange__2 {
      margin-left: 6.25rem;
      width: 21.87rem;
    }
    
    .description__apropos__2 {
      margin-left: 9.688rem;
      margin-right: 22.31rem;
      margin-bottom: 2.3rem;
      margin-top: 3rem;
  }

.liste__apropos {
  position: relative;
}

.liste__1 {
 position: relative;
  font-family: 'mulish';
  font-size: 1.3rem;
  width: 30rem;
  margin-left: 7rem;
}

.liste__2 {
  position: relative;
  float: right;
  margin-top: -7.8rem;
  width: 30rem;
  font-family: 'mulish';
  font-size: 1.3rem;
  margin-right: 10rem;
}

.ligne_separation{
  float: left;
  margin-left: 44rem;
  margin-top: -9rem;
  height: 8rem;
}