.header{
        background-color: #EDECEC;
        z-index: -1;
        margin-top: -8px;
        margin-left: -8px;
        margin-right: -8px;
        padding-bottom: 50px;
        padding-top: 50px;   
    }

    header{
        background-color: #EDECEC;
        z-index: 1;
        margin-top: 0;
        height: 90px;
    }

.menu {
    display: flex;
    align-items: center;
  }

  .menulink {
    color: var(--gray-black);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }

  .menutitle {
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }