.logo__site {
    position: absolute;
    margin-left: -56rem;
    margin-top: 8rem;
    width: 20rem;
}

.baseline__site {
    position: absolute;
    margin-left: 21.68rem;
    margin-top: -36.063rem;
    text-align: center;
    padding: -6.87rem;
    width: 51.063rem;
    z-index: 3;
}

.button__incription__home {
    width: 28rem;
    background-color: #FEB84F;
    height: 7rem;
    position: absolute;
    margin-top: -21rem;
    margin-left: 33rem;
    border-radius: 4rem;
    border-style: solid;
    border-color: black;
}

.text__inscription {
    text-align: center;
    margin-top: -1.625rem;
}

.fond__transparent__home {
    z-index: 1;
    margin-top: -36rem;
    margin-left: 16rem;
    position: absolute;
}

.titre__coontact {
    position: absolute;
    margin-left: 37.5rem;
    margin-top: -17.313rem;
    padding: -6.87rem;
    font-size: 3.125rem;
    font-family: 'Frijole';
    color: #214470;
    z-index: 3;
}



.hero__inscription__title{
    z-index: 3;
    position: absolute;
    float: left;
    font-family: 'Frijole';
    font-size: 3.125rem;
    margin-top: -21.87rem;
    margin-left: 31.25rem;
   
}

.hero__inscrptions{
    width: 100%;
    margin-top: -1.25rem;
    z-index: -1;
}

.title__apropos{
    z-index: 3;
    float: left;
    margin-top: -21.87rem;
    margin-left: 31.25rem;
    position: absolute;
    font-size: 3.125rem;
    font-family: 'Frijole';
    color: #214470 ;
}

.fond_transparent-apropos{
    z-index: 3;
    position: relative;
    float: left;
    margin-top: -26.87rem;
    margin-left: 21.87rem;
    opacity: 62%;
}

.hero__index{
    font-family: 'Mulish';
    font-size: 2.5rem;
}

.hero__index_inscription{
    font-family: 'Mulish';
    font-size: 1.87rem;
    margin-top: 3.75rem;
    
}

.button__incription__home a{
    text-decoration: none;
    color: black;
}

.hero_transparent_legale{
    z-index: 3;
    position: relative;
    float: left;
    margin-top: -22.5rem;
    margin-left: 22.5rem;
    opacity: 62%;
    width: 50rem;
}

.hero__titre__legale{
    z-index: 3;
    position: relative;
    float: left;
    font-family: 'Frijole';
    font-size: 3.125rem;
    margin-top: -20rem;
    margin-left: 25rem;
    color: #214470;

}

.title__introduction {
    margin-left: 1rem;
    text-align: center;
    font-family: 'mulish';
    margin-bottom: 7rem;
}


