.logo__site {
    position: absolute;
    margin-left: -908px;
    margin-top: 157px;
    width: 322px;
}

.baseline__site {
    position: absolute;
    margin-left: 347px;
    margin-top: -577px;
    text-align: center;
    padding: -110px;
    width: 817px;
    z-index: 3;
}

.button__incription__home {
    width: 457px;
    background-color: #FEB84F;
    height: 114px;
    position: absolute;
    margin-top: -343px;
    margin-left: 541px;
    border-radius: 65px;
    border-style: solid;
    border-color: black;
    
}

.text__inscription {
    text-align: center;
    margin-top: -26px;
}

.fond__transparent__home {
    z-index: 1;
    margin-top: -579px;
    margin-left: 261px;
    position: absolute;
}

.titre__coontact {
    position: absolute;
    margin-left: 600px;
    margin-top: -277px;
    padding: -110px;
    font-size: 50px;
    font-family: 'Frijole';
    color: #214470;
    z-index: 3;
}



.hero__inscription__title{
    z-index: 3;
    position: absolute;
    float: left;
    font-family: 'Frijole';
    font-size: 50px;
    margin-top: -350px;
    margin-left: 500px;
   
}

.hero__inscrptions{
    width: 100%;
    margin-top: -20px;
    z-index: -1;
}

.title__apropos{
    z-index: 3;
    float: left;
    margin-top: -350px;
    margin-left: 500px;
    position: absolute;
    font-size: 50px;
    font-family: 'Frijole';
    color: #214470 ;
}

.fond_transparent-apropos{
    z-index: 3;
    position: relative;
    float: left;
    margin-top: -430px;
    margin-left: 350px;
    opacity: 62%;
}

.hero__index{
    font-family: 'Mulish';
    font-size: 40px;
}

.hero__index_inscription{
    font-family: 'Mulish';
    font-size: 30px;
    margin-top: 60px;
    
}

.button__incription__home a{
    text-decoration: none;
    color: black;
}