form{
    margin: 0;
    padding: 0;
    background-color: #EDECEC;
    display: flex;
    justify-content: center;
   
}

form .corps-inscription{
   display: flex; 
   flex-direction: column;
   margin-bottom: 3.125rem;
   
}

form .corps-inscription .groupe_inscription{
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    
}

form .corps-inscription .groupe_inscription input{
    margin-top: 0.625rem;
    padding: 0.625rem 0.313rem 0.625rem 1.87rem ;
    border: 0.063rem solid #000000;
    outline-color:#FEB84F ;
    border-radius: 0.625rem;
    background-color: #FEDD88;
    width: 33.938rem;
    height: 3.125rem;
}

.corps-inscriptions label{
    display: flex;
    justify-content: center;
}


.bouton__inscription2 {
    background-color: lightgray;
    color: black;
    font-size: 2.188rem;
    border: 0.125rem solid black;
    padding: 0.625rem 2.5rem;
    border-radius: 1.87rem;
    margin-left: -30.688rem;
    margin-top: 51.25rem;
    position: relative;
    font-family: 'mulish';
    display: flex;
    margin-bottom: 5rem;
}

    .bouton__inscription2 button {
        background-color: lightgray;
        border: none;
    }

.bouton__inscription2:hover {
    transform: scale(1.05);
    
}