form{
    margin: 0;
    padding: 0;
    background-color: #EDECEC;
    display: flex;
    justify-content: center;
   
}

form .corps-inscription{
   display: flex; 
   flex-direction: column;
   margin-bottom: 50px;
   
}

form .corps-inscription .groupe_inscription{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}

form .corps-inscription .groupe_inscription input{
    margin-top: 10px;
    padding: 10px 5px 10px 30px ;
    border: 1px solid #000000;
    outline-color:#FEB84F ;
    border-radius: 10px;
    background-color: #FEDD88;
    width: 543px;
    height: 50px;
}

.corps-inscriptions label{
    display: flex;
    justify-content: center;
}


.pied-inscription button {
    margin-top: 10px;
    background-color:#ffffff ;
    color: black;
    font-size: 15px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    display: block;
    margin: auto;
    

}

.pied-inscription button:hover {
    transform: scale(1.05);
    
}