.header__menu__item {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: black;
  
  }
  
  .header__menu__item-bar,
  .header__menu__item-bar::before,
  .header__menu__item-bar::after{
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
    color: black; 
  }
  
  .header__menu__item-bar::before{
     top: -10px;
  }
  
  .header__menu__item-bar::after{
    top: 10px;
  }
  
  .menu-open .header__menu__item-bar{
    transform: rotate(135deg);
    background-color: black;
  }
  
  .menu-open .header__menu__item-bar::before,
  .menu-open .header__menu__item-bar::after{
    transform: rotate(90deg);
    background-color: black;
    top: 0;
  }
  
  
  /*MENU*/
  
  .header__menu__list {
    background-color: orange;
    position: fixed;
    padding: 60px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all .4s;
    z-index: 1;
  }
  
  .menu-open .header__menu__list{
    transform: translateX(0);
  }
  
  .menu-open,
  .menu-open body{
    overflow: hidden;
  }
  
  .header__menu__list ul {
    list-style: none;
    margin-top: 150px;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    
  }
  
  .menu__categories{
    margin-bottom: 30px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .5s ease;
    position: relative;
  }
  
  .menu__categories a {
    color: black;
    text-decoration: none;
  }
  .menu__categories::before{
    content: '';
    width: 25px;
    height: 25px;
    background-color:  #9C8292;
    border-radius: 50%;
    position: absolute;
    left: -40px;
  
  }
  
  .menu-open .menu__categories{
    transform: translateX(0);
    opacity: 1;
  }


  .menu__titre{
    position: absolute;
   padding-bottom: 500px;
  }
  
  